# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.pyc
*$py.class

# Databases
*.db
*.sqlite
*.sqlite3

# Flask instance folder
instance/

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# OS / Misc
Thumbs.db
